[user]
	email = proot_me@googlegroups.com
	name = PRoot
[core]
	editor = vim~
[merge]
	tool = kdiff3
[alias]
	ci = commit
	amend = ci
[init]
	defaultBranch = main
[color]
	diff = auto
	interactive = auto
